
.right-login-request {
  flex: 1;
  background-color: black;
  transition: 1s;
  background-image: url("../../../images/error-403-company.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}